* {
  box-sizing: border-box;
}

body {
  background-color: rgb(34, 33, 33); /* Background color for the body */
  color: white; /* Text color */
  margin: 0; /* Remove default margin */
  padding-bottom: 0px; /* Bottom padding */
  font-family: Verdana; /* Font family for the text */
  background-image: url("https://raw.githubusercontent.com/Rethar-yt/rethar-yt.github.io/568e556dae6853764b91f068d2ec78a9165bba64/docs/229056-open-laptop-on-desk-displaying-programming-code-ne.jpg"); 
  background-size: cover; /* Scale the background image to cover the entire body */
  background-repeat: repeat-x; /* Repeat the background image along the horizontal axis */
}

nav {
  background-color: #070707; /* Background color for the navigation bar */
  overflow: hidden;
  font-size: 10px; /* Font size for the navigation bar */
  box-sizing: border-box;
  box-shadow: 2px 2px 4px rgba(5, 5, 5, 0.8);
}

nav img.logo {
  height: auto;
  padding: 5px;
}

nav ul {
  margin: 0;
  padding: 10px;
  list-style-type: none;
  text-align: right;
  line-height: 50px;
}

nav li {
  display: inline-block;
  margin-right: 20px;
}

nav ul li a {
  display: block;
  color: rgb(250, 248, 248);
  text-align: center;
  padding: 10px 16px;
  text-decoration: none;
  border-radius: 5px;
}

nav ul li a:hover {
  background-color: #14b492;
  line-height: 24px;
}

nav a {
  display: block;
  color: rgb(250, 248, 248);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

nav a:hover {
  background-color: #ddd;
  color: black;
}

footer {
  background-color: #070707; /* Background color for the footer */
  color: #fff; /* Text color for the footer */
  padding: 10px 0;
  font-size: 10px; /* Font size for the footer */
  margin-top: 80px;
}

.footer-container {
  text-align: center;
  max-width: 600px;
  margin: 0 auto;
}

.footer-container p {
  margin: 0;
}

.welcome-section {
  display: flex;
  align-items: center;
  padding-left: 20px;
}

.welcome-message {
  flex: 1;
  padding-right: 20px;
  text-align: center;
}

h1, h2, h3 {
  font-size: 30px; /* Font size for h2 tags */
  margin-bottom: 10px;
  font-family: Verdana;
}

h1, h2, h3, h4, h5, h6, p, li {
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8); /* Add a text shadow to h1, h2, and p tags */
}


.description {
  font-size: 10px; /* Font size for the description */
}

.welcome-message p {
  font-size: 17px; /* Font size for p tags inside welcome message */
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 15px;
}

.welcome-message h2 {
  padding-top: 5px;
  font-size: 30px; /* Font size for h2 tags inside welcome message */
}

.social-link {
  display: inline-block;
  margin-left: 10px;
}

.social-link img {
  width: 25px;
  height: 25px;
}

a {
  color: #14b492; /* Default link color */
}



.project {
  margin-bottom: 20px; /* Add margin bottom between project sections */
}

.project-title {
  font-size: 18px; /* Font size for the project title */
  color: white; /* Text color for the project title */
  margin-top: 10px; /* Add margin top to the project title */
}

.project p {
  margin-bottom: 10px; /* Add margin bottom to paragraphs within projects */
}

.container {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width: 767px) {
  nav img.logo {
    height: auto;
    display: block;
    margin: 0 auto;
    width: min(50vw, 200px); /* Responsive width for the logo on smaller screens */
  }

  nav ul {
    text-align: center;
    padding: 0;
    margin: 10px 0;
  }

  nav ul li {
    display: flexbox;
    margin: 10px 0;
    list-style-type: none;
  }
}

@media (min-width: 768px) {
  nav img.logo {
    max-width: 200px;
    height: auto;
    float: left;
    padding: 5px;
    margin: 0 auto;
  }

  nav ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-align: right;
    line-height: 50px;
  }

  nav ul li {
    display: inline-block;
    margin-right: 20px;
  }
}

.text-box {
  position: relative;
  width: 100%;
  margin-left: 0px; /* Remove left margin */
  margin-top: 0px;
  width: 100%;
}

.text-box::before {
  content: '';
  position: absolute;
  top: 5px;
  left: -10px;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7); /* Adjust the opacity as needed */
  z-index: -1;
  margin-left: 0px;
  width: 100%;
}

.welcome-message h2,
.welcome-message h3,
.welcome-message p {
  position: relative;
  z-index: 1;
  color: white;
}

.tech-logos {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5px;
}

.tech-logos img {
  max-width: 50%;
  height: auto;
}

.image-section {
  position: relative;
  margin-bottom: 10px;
  text-align: center;
}

.image-section img {
  width: 80%;
  height: auto;
  margin-top: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.7);
}
