* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 16px;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
}

body {
  padding: 0;
  margin: 0;
  min-height: 100vh;
  background-image: url("https://github.com/Rethar-yt/rethar-yt.github.io/blob/main/docs/Page%20Background%20Imgs/wallpaper_tech3.jpg?raw=true");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.marquee {
  background-image: linear-gradient(to right, #030303, #060050, #030303);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: white;
  font-size: 14px;
  padding: 5px;
}

.div {
  background-image: linear-gradient(to right, #030303, #060050, #030303);
  padding: 5px;
}

.header {
  background: #303030;
  color: #fff;
  position: relative;
  z-index: 2;
}
.navbar {
  max-width: 100%;
  padding: 0 24px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 72px;
  background-image: linear-gradient(to right, #160a5a, #02233f);
}
.navbar h1 a,
.navbar ul li a {
  color: #fff;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 10px;
  
}
.navbar ul {
  display: flex;
}
.navbar ul li  {
  padding: 0 15px;
  transition: all 0.2s ease-in-out;
}
.navbar ul li a:hover,
.navbar ul li a:focus {
  color: #04a5aa;
}

.nav-logo {
  width: 40%;
  height: auto;
  padding-top: 20px;
  padding-bottom: 20px;
}

/* Hamburger Menu*/
#navcheck,
.nav-btn,
.backdrop {
    display: none;
}
.nav-btn {
    position: absolute;
    right: 24px;
    top: 55px;
    z-index: 99;
}
.nav-btn label span {
    display: block;
    width: 30px;
    height: 1.5px;
    background: white;
    border-radius: 3px;
    transition: background-color 0.3s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.3s ease-in-out,
        -webkit-transform 0.3s cubic-bezier(0.77, 0.2, 0.05, 1);
    -webkit-transition: background-color 0.3s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.3s ease-in-out,
        -webkit-transform 0.3s cubic-bezier(0.77, 0.2, 0.05, 1);
    transition: transform 0.3s cubic-bezier(0.77, 0.2, 0.05, 1), background-color 0.3s cubic-bezier(0.77, 0.2, 0.05, 1),
        opacity 0.3s ease-in-out;
    transition: transform 0.3s cubic-bezier(0.77, 0.2, 0.05, 1), background-color 0.3s cubic-bezier(0.77, 0.2, 0.05, 1),
        opacity 0.3s ease-in-out, -webkit-transform 0.3s cubic-bezier(0.77, 0.2, 0.05, 1);
    
}
.nav-btn label span:not(:last-child) {
    margin-bottom: 7px;
}

@media (max-width: 992px) {
  .nav-menu {
      display: none !important;
  }
  .nav-btn {
      display: block;
  }
  .navbar ul li a {
      color: white;
      width: 100%;
      display: block;
      padding: 16px;
  }
  #navcheck {
      opacity: 0;
      position: fixed;
      top: 0;
      right: 0;
      width: 72px;
      height: 72px;
      z-index: 999;
      cursor: pointer;
      margin: 0;
      display: block;
  }
  input#navcheck:checked ~ .nav-btn label span:first-child {
      -webkit-transform: rotate(45deg) translate(6px, 6px);
      transform: rotate(45deg) translate(6px, 6px);
      top: 0;
      left: 0;
  }
  input#navcheck:checked ~ .nav-btn label span:last-child {
      -webkit-transform: rotate(-45deg) translate(6px, -6px);
      transform: rotate(-45deg) translate(6px, -6px);
      top: 0;
      left: 0;
  }
  input#navcheck:checked ~ .nav-btn label span:nth-child(2) {
      opacity: 0;
  }
  input#navcheck:checked ~ .header .navbar .nav-menu {
      display: block !important;
      position: absolute;
      top: 72px;
      left: 0;
      right: 0;
      background-image: linear-gradient(to right, rgb(7, 1, 20), #081f33)
  }
  input#navcheck:checked ~ .backdrop {
      position: absolute;
      display: block;
      background-color: black (0, 0, 0, 0.36);
      width: 100%;
      height: calc(100% - 72px);
      z-index: 1;
  }
  .welcome-section img {
    max-width: 100%;
    height: auto;
  }
  
}

/* Slideshow container */
.slideshow-container {
  max-width: 100%;
  position: relative;
  margin: auto;
  padding-top: 0px;
  margin-bottom: -4px;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 40px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 1.5);
}


/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 10px;
  width: 10px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}


.welcome-section {
  display: flex;
  text-align: left;
  padding-left: 30px;
  padding-bottom: 70px;
  max-width: 80%;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.welcome-message {
  flex: 1;
  padding-right: 20px;
  text-align: left;
  margin-left: 20px;
}

.welcome-message h2 {
  font-size: 25px;
  padding: 5px;
  
}

.welcome-message h3 {
  font-size: 20px;
  padding: 5px;
  
}

.welcome-message p,
.welcome-message ul,
.welcome-message li {
  font-size: 14px;
  padding: 5px;
}

.welcome-message li {
  list-style-type: disc !important;
  margin-left: 40px;
}

.welcome-message a {
  color: #263849;
}

hr {
  color: #263849 ; /* Change the color */
  height: 2px; /* Change the height */
  background-color: #263849; /* Change the background color */
  border: none; /* Remove the border */
  margin-top: 10px;
  margin-bottom: 10px;
}

.cv-icon img {
  width: 100px;
  height: auto;
  padding-top: 10px;
  margin-top: 20px;
}

.contact-photo img {
  margin-left: 5px;
  border-radius: 30px;
}

footer {
  background-image: linear-gradient(to right, #160a5a, #02233f);
  color: white;
  font-size: 15px;
}
footer * {
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
  border: none;
  outline: none;
}
.row {
  padding: 1em 1em;
}
.row.primary {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 2fr;
  align-items: stretch;
}
.column {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 0 2em;
  min-height: 15em;
}
.footer h3 {
  width: 100%;
  text-align: left;
  color: white;
  font-size: 15px;
  white-space: nowrap;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}
.footer ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
}
.footer li:not(:first-child) {
  margin-top: 0.8em;
}
.footer ul li a {
  color: #a7a7a7;
  text-decoration: none;
}
.footer ul li a:hover {
  color: #2a8ded;
}
.footer .about p {
  text-align: justify;
  line-height: 2;
  margin: 0;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.column.links {
  padding: 5px;
}


.column.subscribe {
  padding: 5px;
}

button {
  font-size: 14px;
  padding: 15px;
  width: 100%;
  border-radius: 5px;
  margin-bottom: 5px;
  background-image: linear-gradient(to right, #048c91, #0761d8);
  color: #ffffff;
  margin-bottom: 10px;
  margin-top: 10px;
}

button a {
  /* Add styles for the link inside the button */
  color: inherit;
  text-decoration: none;
}

button:active {
  /* Add active (clicked) styles */
  background-color: white;
  color: rgb(58, 170, 109);
}


div.social {
 
  font-size: 2.4em;
  flex-direction: row;
  margin-top: 0.5em;
  padding: 5px;
}
.social i img{
  color: #bac6d9;
  width: 20px;
  height: auto;
}

.copyright {
  padding: 30px;
  background-color: rgb(7, 1, 20);
}
.footer-menu{
  float: left;
    margin-top: 0px;
}

.footer-menu a{
  color: white;
  padding: 6px;
  text-decoration: none;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  font-size: 14px;
}

.footer-menu a:hover{
  color: #04a5aa;
}
.copyright p {
  font-size: 14px;
  text-align: right;
  margin-bottom: -15px;
  color: #04a5aa;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.column.links a{
  color: #04a5aa;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.column.links a:hover{
  color: white;
}

.column.links li {
  list-style: disc;
  margin: 10px;
}

.scroll-top-container {
  margin-bottom: -60px;
  width: 20%;
  justify-content: center;
  margin-left: 40%;
}

.scroll-top:hover {
  background-color: #04a5aa;
  color: white;
}

.scroll-top:focus,
.scroll-top:active {
  background-color: #04a5aa;
  color: white;
}

#scroll-top-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 999;
}

#scroll-top-button img {
  width: 40px;
  height: 40px;
}


@media screen and (max-width: 850px) {
  .row.primary {
    grid-template-columns: 1fr;
  }
  .copyright p {
    margin-top: 20px;
    text-align: left;
    margin-left: 4px;
  }

  .footer-menu a {
    margin-left: 0px;
  }

  .text {
    font-size: 25px;
  }

  .welcome-section {
    max-width: 100%;
    height: auto;
    text-align: left;
  }
  
  .body {
    background-size: auto;
    background-repeat: no-repeat;
    background-attachment: fixed;
  }

  .nav-logo {
    width: 60%;
    height: auto;
  }

}

.footer-logo {
  width: 70%;
  height: auto;
  padding-bottom: 10px;
}